#about_me{
    position: relative;
    padding-bottom: 180px;
    // background-image: url('../img/test.jpg');
    // background-repeat: no-repeat;
    // background-position: center left;
    // background-size: cover;

    @media screen and (max-width: $m) {
        // background: none;
        padding-bottom: 100px;
    }

    h2{
        margin-top: 80px;
    }

    .image{
        margin-top: 70px;
        // margin-bottom: 60px;
        position: relative;

        img{
            background-color: $color_background;
        }
        
        &::after{
            content: '';
            position: absolute;
            top: 60px;
            left: 60px;

            width: 100%;
            height: 100%;

            background-image: url('../../inc/img/dot.svg');
            background-repeat: repeat;
            background-size: 25px;
            
            z-index: -1;
        }

        @media screen and (max-width: $m) {
            margin-top: 0px;

            img{
                width: 90%;
                margin: 0 auto;
            }

            &::after{
                top: 25px;
                left: 40px;
                width: 90%;
            }
        }
    }

    .text{
        position: relative;
        z-index: 20;
        margin-top: 150px;

        
        @media screen and (max-width: $m) {
            margin-top: 00px;

            p{
                text-align: left;
            }
        }
    }
}
