#cases{
	background-color: $color_background_2;
	position: relative;

	.case{
		position: relative;
		margin-top: 75px;
		margin-bottom: 150px;
		z-index: 2;

		.hide_content{
			visibility: hidden;
		}

		.on_load{
			background: $color_main;
			width: 0%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			transition: .2s ease all;
			z-index: 1000;
		}

		.img_container{
			position: relative;
			overflow: hidden;
			margin-left: 4.4%;
			background: transparent;
			width: 69%;

			@media screen and (max-width: 750px) {
				margin-left: 0;
			}

			.inner_container{
				width: 100%;
				height: auto;

				@media screen and (max-width: $xl) {
					width: 90%;
				}
				@media screen and (max-width: 750px) {
					width: 100%;
				}
			}


			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}

		.content_container{
			// border-left: 3px solid $color_main;
			width: 26%;
			height: auto;
			// min-height: 250px;
			display: block;
			position: absolute;
			top: 50px;
			right: 5%;
			overflow: hidden;


			@media screen and (max-width: 750px) {
				position: relative;
				width: 100%;
				top: 0;
				right: 0;
				transform: translate3d(0px, 0px, 0px)!important;
			}

			.content{
				background-color: $color_background;
				color: $color_dark;
				padding: 20px 20px 40px;
				width: 100%;
				height: 100%;

				h3{
					margin-top: 0;
				}

				&.hide_content{
					visibility: hidden!important;
				}
			}
		}

		.dotted-block{
			top: 300px;
			top: 30px;
			right: -40px;
			width: 300px;
			height: 498px;
		}
	}

	.case.right{
		margin-top: 0;
		display: flex;
		justify-content: flex-end;
		position: relative;

		.img_container{
			margin-right: 4.4%;
			margin-left: 0;
		}
		.on_load{
			left: 0;
		}
		.content_container{
			left: 5%;
			top: 50px;
		}
	}
}
